/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body * {
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

/* Main CSS */

body {
  text-align: center;
}

.lib-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 100px; */
  gap: 10px;
  margin: 10px;
}

.lib-container li {
  border: 1px solid lightgrey;
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.showModal .modal {
  display: flex;
}

.closeModal {
  width: max-content;
  height: max-content;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-content {
  display: grid;
  gap: 20px;
  grid-auto-rows: 30px;
  align-content: center;
  width: 70vw;
  padding: 40px 30px 30px;
  background-color: #ffffff;
  position: relative;
}

.modal-content label {
  display: grid;
  grid-template-columns: 80px 3fr;
  align-items: center;
  text-align: right;
}

input[type="text"] {
  height: 100%;
  margin-left: 30px;
}
